

.top-section {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.select-div {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
}



.code-section {
    display: flex;
    justify-content: center;
}

pre {
    padding: 20px 60px 20px 60px;
    border: 5px solid blue;
    border-radius: 20px;
    background: -webkit-linear-gradient(orange, yellow);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#main-element {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 300px;
    border: 5px solid blue;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    grid-column: 3/4;
}

.original-background-color {
    background: -webkit-linear-gradient(yellow, orange);
}

.original {
    background: -webkit-linear-gradient(yellow, orange);

}


// styles start here 

.red-background {
    background: red;
}

.blue-background {
    background: blue;
}

.radiate {
    animation: radiate 1.5s infinite ease-in-out;
}
@keyframes radiate {
    0% {
    filter: drop-shadow(3px 10px 10px rgba(225, 221, 221, .6)); 
    }
    30% {
        filter: drop-shadow(3px 10px 5px rgba(140, 219, 50, 0.932)); 
    }
    50% {
        filter: drop-shadow(3px 10px 20px rgba(49, 96, 252, 0.8)); 
    }
    65% {
        filter: drop-shadow(3px 10px 2px rgb(202, 38, 38)); 
    }
    80% {
        filter: drop-shadow(3px 10px 30px rgba(34, 141, 1, 0.9)); 
    }
}


.spin {
    animation: spin 20s infinite linear;
    @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
}